.grid {
    display: grid;
    grid-auto-flow: dense; /* There should be no vacant grid */
    gap: 1.5rem;
}

code {
    background-color: #ededed;
    padding: 0.1rem 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.85rem !important;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    ._1 {
        grid-column-start: 2;
    }
}