.grid {
    display: grid;
    grid-auto-flow: dense; /* There should be no vacant grid */
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    ._1 {
        grid-column-start: 2;
    }
}